# 1. Имя группы контейнеров (чтобы не было "docker")
name: letomarket

services:
  app:
    build:
      context: ../
      dockerfile: docker/php/Dockerfile
    container_name: '${APP_NAME:-letomarket}-app'
    ports:
      - "${APP_PORT:-80}:8080"
      - "${VITE_PORT:-5173}:5173"
    volumes:
      - ../:/var/www/html
    depends_on:
      - db
      - redis
    env_file:
      - ../.env
    environment:
      VITE_HMR_HOST: localhost

  db:
    image: mysql:8.0
    container_name: '${APP_NAME:-letomarket}-db'
    ports:
      - "${DB_PORT:-3306}:3306"
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    networks:
      - default

  redis:
    image: redis:7-alpine
    container_name: '${APP_NAME:-letomarket}-redis'
    ports:
      - "${REDIS_PORT:-6379}:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      timeout: 3s
      retries: 5
    networks:
      - default

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: '${APP_NAME:-letomarket}-pma'
    ports:
      - "${PMA_PORT:-8081}:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      UPLOAD_LIMIT: 64M
    depends_on:
      - db
    networks:
      - default

volumes:
  db_data:
  redis_data:

networks:
  default:
    name: ${APP_NAME:-letomarket}_net
    driver: bridge